<html>
	<head>
		<title>yaml-split Licenses</title>
	</head>
	<body>
		<main class="container">
			<div class="intro">
				<h1>Licenses</h1>
				<p>This page lists the licenses of code incorporated into yaml-split.</p>
			</div>
			<div class="licenses-list">
				{{#each licenses}}
				<div class="license">
					<h2 id="{{id}}">{{name}}</h2>
					{{#if (gt (len used_by) 1)}}
					For:
					<ul class="license-used-by">
						{{#each used_by}}
						<li><a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a></li>
						{{/each}}
					</ul>
					{{else}}
					{{#with (lookup used_by 0)}}
					For <a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a>
					{{/with}}
					{{/if}}
					<pre class="license-text">{{text}}</pre>
				</div>
				{{/each}}
			</div>
		</main>
	</body>
</html>
